.div_louad {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

@keyframes load {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  

.load {
    animation: load 1s linear infinite;
}