.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(85, 85, 210, 0.163);
    padding: 10px;
    border-radius: 10px;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.navbar h1 {
    text-transform: capitalize;
}

.navbar h1 span { 
    color: rgb(83, 18, 212);
    text-shadow: 0px 0px 10px rgb(0, 26, 255);
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar .link_settigs {
    display: flex;
    align-items: center;
    text-transform: capitalize;
    font-weight: bolder;
}

.link_settigs {
    margin: 0px 20px;
    transition: .5s linear;
    font-size: 14px;
}

.link_settigs:hover {
    font-size: 17px;
}

.link_profile{
    margin: 0px 20px;
    transition: .5s linear;
    font-weight: bolder;
    font-size: 14px;
}

.link_profile:hover {
    font-size: 17px;
}

.button_logout {
    margin: 0px 20px;
    padding: 10px;
    text-transform: capitalize;
    border: none;
    background: none;
    color: white;
    border-radius: 10px;
    transition: .5s linear;
    font-weight: bolder;
}

.button_logout:hover {
    font-size: 17px;
}


.icon_setting {
    margin: 5px;

}