.signup {
    background-color: #0e192bcc;
    color: white;
    width: 500px;
  
    
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
  
 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }

.signup h1 {
  text-align: center;
}

.form_container {
  display: block;
  flex-direction: column;
}

.form_sig {
  display: flex;
  align-items: center; 
  justify-content: center;
  margin: 30px 0px;
}

.form_sig label span{
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.form_sig input {
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
  border: none;
  background-color: #E9EAEE;
}


.form_sig button {
  position: absolute;
  padding: 5px;
  border-radius: 5px;
  background: none;
  border: none;
  cursor: pointer;
}

.showPassword {
  color: white;
}

.button_signip {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: none;
  background-color: #A5ABB7;
  margin: auto;
  margin-bottom: 30px;
}

.div_link {
   text-align: center;
}


.link_login {
  text-decoration: none;
  color: #E9EAEE;
}
