* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: url("/cd25e8b7b126ef1f552a26a022ee840a.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 90vh;
}
